### Tuples

In [1]:
emptyTuple = ()
print(emptyTuple)

()

In [2]:
emptyTuple = tuple()
print(emptyTuple)

()

In [3]:
z = (3,7,4,2)
print(z)

(3, 7, 4, 2)

In [4]:
z = 3,7,4,2
print(z)

(3, 7, 4, 2)

In [5]:
tup1 = ('Michael',)
print(tup1)

('Michael',)

In [6]:
tup2 = 'Michael',
print(tup2)

('Michael',)

In [7]:
notTuple = 'Michael'
print(notTuple)
print(type(notTuple))

Michael
<class 'str'>

###### Accessing Value in Tuples

In [8]:
z = (3, 7, 4, 2)
print(z[0])

3

In [9]:
print(z[-1])

2

In [10]:
print(z[3])

2

In [11]:
print(z[0:2])

(3, 7)

In [12]:
print(z[:3])

(3, 7, 4)

In [13]:
print(z[-4:-1])

(3, 7, 4)

###### Tuples are Immutable

In [14]:
z = (3, 7, 4, 2)
#it is impossible to update individual items in a tuple
z[1] = 5

TypeError: 'tuple' object does not support item assignment

In [15]:
tup1 = ('Python', 'SQL')
tup2 = ('R',)
# Create new tuple based on existing tuples
new_tuple = tup1 + tup2;
print(new_tuple)

('Python', 'SQL', 'R')

###### Tuple Methods

In [16]:
tup = (3,7,4,3,'b')

In [17]:
print(tup.index(3))

0

In [18]:
print(tup.count(3))

2

In [19]:
for item in tup:
    print(item)

3
7
4
3
b

In [20]:
x, y = (7, 10);
print("Value of x is {}, the value of y is {}.".format(x, y))

Value of x is 7, the value of y is 10.

In [21]:
names = ('Alison', 'Konate', 'Henderson', 'Salah')
for index, name in enumerate(names):
    print(index,name)

0 Alison
1 Konate
2 Henderson
3 Salah

###### Tuples are faster than lists

In [22]:
import timeit 
print('Tuple time: ', 
      timeit.timeit('x=(1,2,3,4,5,6,7,8,9,10,11,12)', number=1000000))
print('List time: ', 
      timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10,11,12]', number=1000000))

Tuple time:  0.02270912500000044
List time:  0.062294290999998836

###### Tuples can be dictionaly keys

In [23]:
Dict = {('this', 'is'): 23,
                    ('is', 'a'): 12,
                    ('a', 'sentence'): 2}

print(Dict)

{('this', 'is'): 23, ('is', 'a'): 12, ('a', 'sentence'): 2}

###### Lists can't be dictionaly keys

In [24]:
Dict = {['this', 'is']: 23,
                   ['is', 'a']: 12,
                   ['a', 'sentence']: 2}

print(Dict)

TypeError: unhashable type: 'list'

###### Tuples can be values in set

In [25]:
Set = {('this', 'is'),
                   ('is', 'a'),
                   ('a', 'sentence')}
print(Set)

{('this', 'is'), ('is', 'a'), ('a', 'sentence')}

###### Lists can't br value in set

In [26]:
Set = {['this', 'is'],
                   ['is', 'a'],
                   ['a', 'sentence']}
print(Set)

TypeError: unhashable type: 'list'